*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.search-bar .containerr{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar .containerr h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}
.search-bar .containerr input{
    width: 50%;
    height: 7vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin : 20px 0;
    filter:drop-shadow(10px 20px 30px black);
}
.movie img{
    width: 300px;
    transition: .5s ease all;
}
.movie img:hover{
    transform: translateY(-23px);
    box-shadow: 0 0px 50px rgba(0,0,0,0.5);
}
.movie h3{
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    transform: translateY(-27px);
    height: 50px;
    font-size: 24px;
}

.movies .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.movies .container .movie{
    margin: 10px 20px;
}
